body{
    font-family: Verdana;
    text-align: center;
    color : cornsilk;
    font-size: large;
    background-image: url(images/background.jpg);
    background-size: cover;
  }

  a {
    color : cornsilk;
  }

  .recipe {
    background-color: cornsilk;
    color: darkslategray;
    border: 2px solid darkslategray; /* Add a border */
    border-radius: 10px;
    padding: 8px 16px; /* Add padding for better appearance */
    font-size: 14px; /* Adjust font size */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s; /* Add a smooth transition effect */
}

.recipe:hover {
    background-color: darkslategray;
    color: cornsilk;
    border: 2px solid cornsilk;
}

  
  div{
    margin: 40px;
  }
  
  h1{
    color : darkslategray;
  }
  
  h4{
    font-weight: bold;
    font-family: Lucida Sans;
  }
  
  img{
    width: 40%;
    border-radius: 10%;
  }
  
  input{
    margin: 0 auto;
    margin-top : 15px;
    padding : 10px;
    display: block;
  }
  
  li{
    text-align: left;
    padding: 5px;
  }